Quantitative Momentum Strategy

In [2]:
import numpy as np
import pandas as pd
import requests
import math
import xlsxwriter

In [4]:
from secret import IEX_CLOUD_API_TOKEN

In [3]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [6]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2532825710632,
 'week52high': 159.28,
 'week52low': 104.3,
 'week52highSplitAdjustOnly': 159.36,
 'week52lowSplitAdjustOnly': 108.1,
 'week52change': 0.34835259927275125,
 'sharesOutstanding': 16699555585,
 'float': 0,
 'avg10Volume': 85550103,
 'avg30Volume': 76114139,
 'day200MovingAvg': 134.99,
 'day50MovingAvg': 154.29,
 'employees': 147772,
 'ttmEPS': 5.2,
 'ttmDividendRate': 0.8528545471759871,
 'dividendYield': 0.005780844206097808,
 'nextDividendDate': '',
 'exDividendDate': '2021-08-06',
 'nextEarningsDate': '2021-10-18',
 'peRatio': 28.6412082360782,
 'beta': 1.491141029891161,
 'maxChangePercent': 56.57297801030216,
 'year5ChangePercent': 5.375752301361515,
 'year2ChangePercent': 1.714061151193445,
 'year1ChangePercent': 0.3514627731930593,
 'ytdChangePercent': 0.12973083809741834,
 'month6ChangePercent': 0.23031716537074817,
 'month3ChangePercent': 0.1798463642962149,
 'month1ChangePercent': 0.02232001665658325,
 'day30ChangePercent': 0.0005533208377579088,
 'day5ChangePercent': -0.03507496911471601}

In [7]:
final_dataframe.sort_values('One-Year Price Return',
                            ascending=False, inplace=True)
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
final_dataframe
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

In [8]:
final_dataframe = pd.DataFrame(columns=my_columns)

# Data weighting from IEX Cloud.
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=price,stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
            pd.Series(


                [
print(portfolio_size)
                    data[symbol]['price'], 
                    data[symbol]['stats']['year1ChangePercent'], 
                    'N/A'
                ], 
                index= my_columns
            ),
            ignore_index=True
        )
final_dataframe

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A  181.98              0.836608                     N/A
1      AAL   19.71               0.47876                     N/A
2      AAP  202.98              0.310546                     N/A
3     AAPL  152.41              0.354153                     N/A
4     ABBV  107.83              0.250618                     N/A
..     ...     ...                   ...                     ...
500    YUM  131.50              0.442305                     N/A
501    ZBH  143.20              0.015482                     N/A
502   ZBRA  607.38              1.354741                     N/A
503   ZION   58.72              0.893675                     N/A
504    ZTS  209.00              0.310954                     N/A

[505 rows x 4 columns]

In [10]:
final_dataframe.sort_values('One-Year Price Return', ascending=False, inplace=True)
final_dataframe = final_dataframe[:30]
final_dataframe.reset_index(inplace=True)
final_dataframe

/Users/lawrencejews/Desktop/Algorithmic/trading/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,level_0,index,Ticker,Price,One-Year Price Return,Number of Shares to Buy
0,0,275,LB,81.50,2.364647,N/A
1,1,148,DVN,28.57,2.242576,N/A
2,2,195,FTNT,318.62,1.763008,N/A
3,3,175,FANG,76.50,1.647632,N/A
4,4,23,ALB,242.45,1.6217,N/A
5,5,344,NUE,116.52,1.582005,N/A
6,6,317,MRO,11.54,1.575202,N/A
7,7,441,TPR,42.17,1.559709,N/A
8,8,29,AMAT,140.15,1.52138,N/A
9,9,251,IT,317.50,1.505927,N/A
10,10,272,KSS,52.32,1.480596,N/A
11,11,357,OXY,25.62,1.471777,N/A
12,12,410,SIVB,597.70,1.427143,N/A
13,13,253,IVZ,25.40,1.424703,N/A
14,14,502,ZBRA,607.38,1.354741,N/A
15,15,111,COTY,8.25,1.345713,N/A
16,16,24,ALGN,724.66,1.305795,N/A
17,17,129,DFS,124.16,1.287232,N/A
18,18,385,PWR,118.70,1.275711,N/A
19,19,106,COF,160.68,1.255323,N/A
20,20,179,FCX,36.38,1.206497,N/A
21,21,352,OKE,54.80,1.195213,N/A
22,22,245,IPG,37.69,1.185746,N/A
23,23,342,NTAP,93.29,1.185665,N/A
24,24,198,GE,104.00,1.178643,N/A
25,25,417,SPG,130.20,1.170381,N/A
26,26,318,MS,108.58,1.132591,N/A
27,27,288,LRCX,624.21,1.101016,N/A
28,28,266,KLAC,355.30,1.093772,N/A
29,29,407,SCHW,74.86,1.088752,N/A

In [14]:
# Calulating the number of shares to buy
def portfolio_input():
    global portfolio_size
    portfolio_size = input('Enter the size of your portfolio:')
    try:
        float(portfolio_size)
    except:
        print('That is not a number! \nPlease try again: ')
        portfolio_size = input('Enter the size of your portfolio:')
portfolio_input()
print(portfolio_size)

10000000

In [26]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range (0, len(final_dataframe)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe.loc[i, 'Price'])
final_dataframe

/Users/lawrencejews/Desktop/Algorithmic/trading/lib/python3.8/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,level_0,index,Ticker,Price,One-Year Price Return,Number of Shares to Buy
0,0,275,LB,81.50,2.364647,4089
1,1,148,DVN,28.57,2.242576,11667
2,2,195,FTNT,318.62,1.763008,1046
3,3,175,FANG,76.50,1.647632,4357
4,4,23,ALB,242.45,1.6217,1374
5,5,344,NUE,116.52,1.582005,2860
6,6,317,MRO,11.54,1.575202,28885
7,7,441,TPR,42.17,1.559709,7904
8,8,29,AMAT,140.15,1.52138,2378
9,9,251,IT,317.50,1.505927,1049
10,10,272,KSS,52.32,1.480596,6371
11,11,357,OXY,25.62,1.471777,13010
12,12,410,SIVB,597.70,1.427143,557
13,13,253,IVZ,25.40,1.424703,13123
14,14,502,ZBRA,607.38,1.354741,548
15,15,111,COTY,8.25,1.345713,40404
16,16,24,ALGN,724.66,1.305795,459
17,17,129,DFS,124.16,1.287232,2684
18,18,385,PWR,118.70,1.275711,2808
19,19,106,COF,160.68,1.255323,2074
20,20,179,FCX,36.38,1.206497,9162
21,21,352,OKE,54.80,1.195213,6082
22,22,245,IPG,37.69,1.185746,8844
23,23,342,NTAP,93.29,1.185665,3573
24,24,198,GE,104.00,1.178643,3205
25,25,417,SPG,130.20,1.170381,2560
26,26,318,MS,108.58,1.132591,3069
27,27,288,LRCX,624.21,1.101016,534
28,28,266,KLAC,355.30,1.093772,938
29,29,407,SCHW,74.86,1.088752,4452

In [28]:
# Building a better Momentum strategy(more realitic)
stocks
hqm_columns = [
    'Ticker', 
    'Price', 
    'Number of Shares to Buy', 
    'One-Year Price Return', 
    'One-Year Price Percentile', 
    'Six-Month Price Return',
    'Six-Month Return Percentile', 
    'Three-Month Price Return', 
    'Three-Month Return Percentile', 
    'One-Month Price Return', 
    'One-Month Return Percentile' , 
    'HQM Score'  
]
hqm_dataframe = pd.DataFrame(columns=hqm_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=price,stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
            pd.Series(
                [
                    symbol, 
                    data[symbol]['price'], 
                    'N/A', 
                    data[symbol]['stats']['year1ChangePercent'], 
                    'N/A', 
                    data[symbol]['stats']['month6ChangePercent'],
                    'N/A',
                    data[symbol]['stats']['month3ChangePercent'],
                    'N/A',
                    data[symbol]['stats']['month1ChangePercent'],
                    'N/A', 
                    'N/A'
                ], 
                index= hqm_columns
            ),
            ignore_index=True
        )
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Price Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile
0,A,183,N/A,0.830176,N/A,0.468754,N/A,0.238728,N/A,0.133786,N/A
1,AAL,19.2,N/A,0.473695,N/A,-0.15025,N/A,-0.20031,N/A,-0.108947,N/A
2,AAP,205.47,N/A,0.321225,N/A,0.167022,N/A,0.008376,N/A,-0.055074,N/A
3,AAPL,155.58,N/A,0.33901,N/A,0.227565,N/A,0.179661,N/A,0.021738,N/A
4,ABBV,109.34,N/A,0.260457,N/A,0.012628,N/A,-0.067267,N/A,-0.063109,N/A
...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,135.84,N/A,0.441477,N/A,0.253607,N/A,0.092614,N/A,-0.028573,N/A
501,ZBH,140.52,N/A,0.015838,N/A,-0.123762,N/A,-0.115962,N/A,-0.037084,N/A
502,ZBRA,601.16,N/A,1.357153,N/A,0.215148,N/A,0.143289,N/A,0.020021,N/A
503,ZION,59.91,N/A,0.917157,N/A,0.011083,N/A,0.046272,N/A,0.025581,N/A
504,ZTS,215,N/A,0.312107,N/A,0.377693,N/A,0.142823,N/A,0.049595,N/A

In [33]:
# Calculating the momentum of percentile
from scipy.stats import percentileofscore as score
time_periods = [ 
    'One-Year', 
    'Six-Month',  
    'Three-Month', 
    'One-Month'
]
for row in hqm_dataframe.index:
    for time_period in time_periods:
        change_col = f'{time_period} Price Return',
        percentile_col = f'{time_period} Return Pecentile',
        hqm_dataframe.loc[row, percentile_col ] = score(hqm_dataframe[change_col], hqm_dataframe.loc[row, change_col] )
        
hqm_dataframe

In [ ]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(
            hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

In [ ]:
hqm_dataframe.sort_values(by='HQM Score', ascending=False)
hqm_dataframe = hqm_dataframe[:51]

In [ ]:
position_size = float(portfolio_size) / len(hqm_dataframe.index)
for i in range(0, len(hqm_dataframe['Ticker'])-1):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(
        position_size / hqm_dataframe['Price'][i])
hqm_dataframe

In [ ]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index=False)

In [ ]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

dollar_template = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

integer_template = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

percent_template = writer.book.add_format(
    {
        'num_format': '0.0%',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

In [ ]:
column_formats = {
    'A': ['Ticker', string_template],
    'B': ['Price', dollar_template],
    'C': ['Number of Shares to Buy', integer_template],
    'D': ['One-Year Price Return', percent_template],
    'E': ['One-Year Return Percentile', percent_template],
    'F': ['Six-Month Price Return', percent_template],
    'G': ['Six-Month Return Percentile', percent_template],
    'H': ['Three-Month Price Return', percent_template],
    'I': ['Three-Month Return Percentile', percent_template],
    'J': ['One-Month Price Return', percent_template],
    'K': ['One-Month Return Percentile', percent_template],
    'L': ['HQM Score', integer_template]
}

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(
        f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(
        f'{column}1', column_formats[column][0], string_template)

In [ ]:
writer.save()